.App {
  display: flex;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  /* background: #000; */
  margin-left:14rem;
}
@media screen and (max-width:750px) {
  .main{
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width:550px) {
  .main{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.card{
  margin: 1rem;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  place-items: center;
  min-width: min-content;
  border: 1px solid lightgray;
  height: min-content;
  max-height: 34rem;
}
#content table{
  border-radius: 10px;
  max-height: min-content;
}
#content > .card{
  box-shadow: 0 8px 8px -1px rgba(0, 0, 0, 0.3); 
}
#userDiv img{
  max-height: 13rem;
  object-fit: cover;
}
